
html, body {
    background-color: white !important;
    margin: 0;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

#logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 500px;
}

.logo h1{
    position: fixed;
    width: 100%;
    top: 45%;
    left: 0;
    padding-right: 0px;
    color: #0B6623;
    
    text-align: center;
    font-size: 120px;
    font-family: "EB Garamond";
    letter-spacing: 0px;
    font-weight: 100;
    background-color: black;
}

hr {
    overflow: visible;
}

.logo h2 {
    position: fixed;
    text-align: center;
    color: black;
    font-family: "EB Garamond";
    text-transform: capitalize !important;
    bottom: 0;
    width: 100%;
    visibility: visible;
    padding-right: 0px;
}

.logo p {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.container-register {
    background-color: black;
    position: fixed;
    
}

.form-group {
    visibility: hidden;
    position: fixed;
    width: 16.5%;
    left: 41.65%;
}

@media screen and (max-width: 600px){
    .form-group{
        min-width: 70%;
        left: 15%;
    }

    #logo {
        width: 300px;
        
    }
}


#reveal-form{
    bottom: 0;
}


.row {
    position: relative;
}

.register .nav-tabs .nav-link:hover{
    border: none;
}
.text-align{

    padding: 10%;
    margin-left: 30%;
}
.form-new{
    margin-right: 22%;
    margin-left: 20%;
}
.register-heading{
    margin-left: 21%;
    color: #e9ecef;
}

.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #03612e;
    border: none;
    cursor: pointer;
    margin-right: 6%;
    color: rgb(246, 246, 252);
}